<div class="container py-3 mt-5">
  <div class="row">
    <p>{{ this.body }}</p>
  </div>
</div>
<div class="container py-3">
  <div class="row">
    <table class="table" style="margin-bottom: 3rem;">
      <thead>
        <tr>
          <th scope="col">{{ _('Language') }}</th>
          <th scope="col">{{ _('Windows') }}</th>
          <th scope="col">{{ _('macOS') }}</th>
          <th scope="col">{{ _('GNU/Linux') }}</th>
        </tr>
      </thead>
      <tbody>
        {% set t = bag('versions', 'torbrowser-alpha') %}
        {% set t_win = bag('versions', 'torbrowser-win-alpha') %}
        <tr>
            <td><a href="https://support.torproject.org/tbb/tbb-37/">{{ _('See supported languages') }}</a></td>
          <td>
            {% from "macros/downloads.html" import render_windows %}
            {{ render_windows(t_win.version, 'ALL') }}
          </td>
          <td>
            {% from "macros/downloads.html" import render_mac %}
            {{ render_mac(t.version, 'ALL') }}
          </td>
          <td>
            {% from "macros/downloads.html" import render_linux %}
            {{ render_linux(t.version, 'ALL') }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>{{ _('Tor Browser for Android Alpha') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://play.google.com/store/apps/details?id=org.torproject.torbrowser_alpha">{{ _('Google Play') }}</a>
          </td>
        </tr>
        {% set t = bag('versions', 'torbrowser-android-alpha') %}
        {% from "macros/downloads.html" import render_android %}
        <tr>
          <td>
            {{ render_android(t.version, "aarch64") }}
          </td>
        </tr>
        <tr>
          <td>
            {{ render_android(t.version, "armv7") }}
          </td>
        </tr>
        <tr>
          <td>
            {{ render_android(t.version, "x86") }}
          </td>
        </tr>
        <tr>
          <td>
            {{ render_android(t.version, "x86_64") }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
